.icon {
    color: black !important;
    font-size: 4vh;
    padding: 1vh;
    &:hover {
        cursor: pointer;
    }
}

.icon-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1vh;
}
